.content {
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.initial-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.headline {
    width: 50%;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

.more-info {
    width: 50%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 10rem;
}

.nav-elem {
    width: 100%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-list-item {
    padding: 1rem 5rem 1rem 5rem;
    margin-right: 1rem;
    background: white;
    font-size: 40px;
}

.menu-div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 5% 0 5%; */
}

.menu-item {
    width: 24%;
    height: 20rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-img {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}

.form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;    
}

.contact-title {
    width: 20%;
    border-bottom: 1px solid;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    width: 20%;
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    font-size: 18px;
}

input {
    height: 1.5rem;
    margin-bottom: 1rem;
}

textarea {
    margin-bottom: 1rem;
}

button {
    height: 2rem;
    font-size: 18px;
}